<br><h1>Penn Study Scheduler</h1>

<% if user_signed_in? %>
  <p>Welcome back to Penn Study Scheduler. Would you like to create a study 
  event, or would you like to change your schedule?</p>

<% else %>
  <p>Welcome to Penn Study Scheduler. This page allows you to upload your Penn 
    course schedule and invite your friends to study.</p>
<% end %>