<h1>All Courses</h1>

<table>
  <tr>
    <th>Course Number</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @courses.sort_by {|course| course.abbrev}.each do |course| %>
  <tr>
    <td><%= course.abbrev %></td>
    <td><%= course.description %></td>
    <td><%= link_to 'View Your Classmates', course %></td>
  </tr>
<% end %>
</table>

<a href="/">Back</a>